@charset "UTF-08";

@media (max-width: 700px) {
    .footer_bottom {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .search_form {
        width: 60vw;
}
}
@media (max-width: 450px) {
    .footer_bottom_list a {
        font-size: 0.6em;
    }
    .buttoms a {
        font-size: 0.7em;
    }
}